<!DOCTYPE html>
<html ng-app ='portfolioApp'>
  <head>
    <meta charset="utf-8">
    <title>Sarah Turek Portfolio</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body ng-controller = 'MainController'>
    <div class="container">
    <div class='title-info'>
    <h1>Project Portfolio</h1>
    <h4>Sarah Turek</h4>
    </div>
    <br>
    <br>
    <div class ='width'>
      <button ng-hide='hide' ng-click = 'hide = !hide; update = true; edit=true' class= 'btn btn-primary btn-add'>Add New Exercise</button>
    <br>
    <br>
    <table ng-hide ='edit' class = 'table-bordered project-table'>
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Description</th>
          <th>Topics</th>
          <th>Group Project?</th>
          <th>Group Members</th>
          <th>Edit Options</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat= 'project in projectData' ng-class-odd="'fill'">
          <td><a href="{{project.url}}"> {{project.name}} </a></td>
          <td> {{project.description}} </td>
          <td ng-repeat="tag in project.tags"> {{tag}} </td>
          <td> {{project.group | groupies}} </td>
          <td ng-repeat="member in project.group_members"> {{member}} </td>
          <td>
          <div class= 'edit-buttons'>
            <button class ='btn btn-success btn-edit' ng-click= "getOne(project._id)"><span class="glyphicon glyphicon-pencil"></span></button>

            <button class ='btn-edit btn btn-danger' ng-click = 'deleteOne(project._id)'><span class="glyphicon glyphicon-trash"></span></button></div>
          </td>
        </tr>
      </tbody>
    </table>
</div>
  <div ng-show='hide' class='add-form'>
  <div class = 'form-div'>
    <form id='addForm' name='addForm' class="form-inline" role="form">
      <div class="form-group">
        <label for="name">Name:</label>
        <input name="name" ng-model="name" type="text" class="form-control" required>
      </div>
     <div class="form-group">
        <label for="description">Description:</label>
        <input ng-model="description" type="text" class="form-control"required>
      </div>
      <div class="form-group">
        <label for="topic">Topics:</label>
        <input ng-model="tags" type="text" class="form-control"required>
      </div>
      <div class="form-group">
        <label for="url">Project URL:</label>
        <input ng-model="url" type="text" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="group">Group Project?</label>
        <div class="radio">
        <label><input ng-click='groupProj = true' ng-model='group' type="radio" value="true" required>Yes</label>
        </div>
        <div class="radio">
          <label><input ng-click='groupProj = false' ng-model='group' type="radio" value="false" required>No</label>
        </div>
      </div>
      <div class="form-group" ng-show='groupProj'>
        <label for="members">Group Members:</label>
        <input ng-model="group_members" type="text" class="form-control">
      </div>
    </form>
    </div>

      <button ng-click="addOne()" ng-show = 'update' type="submit" class="btn btn-success" ng-disabled="addForm.$invalid">Add Project</button>

      <button ng-click="update=false; hide=false; edit=false " ng-show = 'update' type="submit" class="btn btn-warning">Cancel</button>

      <button ng-disabled="addForm.$invalid" ng-click="updateOne()" ng-hide = 'update' type="submit" class="btn btn-warning">Save</button>
  </div>





  </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src = 'https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js"></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/i18n/angular-locale_zu.js'></script>
   <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/directives.js"></script>
    <script type="text/javascript" src="/js/filter.js"></script>
    <script type="text/javascript" src="/js/services.js"></script>
    <script type="text/javascript" src="/js/controller.js"></script>
  </body>
</html>
