<!DOCTYPE html>
<html ng-app ='portfolioApp'>
  <head>
    <meta charset="utf-8">
    <title>Sarah Turek Portfolio</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body ng-controller = 'MainController'>
    <div class="container">

    <h1>Project Portfolio</h1>
    <h4>Sarah Turek<h4>
      {{title}}

    <br>
    <br>
    <button ng-click = 'hide = !hide' class= 'btn btn-primary'>Add New Exercise</button>
    <br>
    <br>
    <table class = 'table-bordered project-table'>
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Description</th>
          <th>Topics</th>
          <th>Group Project?</th>
          <th>Group Members</th>
        </tr>
      </thead>
      <tbody ng-repeat= 'project in projectData'>
        <tr>
          <td> {{project.name}} </td>
          <td> {{project.description}} </td>
          <td ng-repeat="tag in project.tags"> {{tag}} </td>
          <td> {{project.group | groupies}} </td>
          <td ng-repeat="member in project.group_members"> {{member}} </td>
        </tr>
      </tbody>
    </table>


  <form ng-show='hide' class="form-inline" role="form">
    <div class="form-group">
      <label for="name">Name:</label>
      <input name="name" ng-model="name" type="text" class="form-control">
    </div>
   <div class="form-group">
      <label for="description">Description:</label>
      <input ng-model="description" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="topic">Topics:</label>
      <input ng-model="tags" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="group">Group Project?</label>
      <input ng-model="group" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="members">Group Members:</label>
      <input ng-model="group_members" type="text" class="form-control">
    </div>
    <button ng-click="addOne()" type="submit" class="btn btn-success">Add Project</button>
  </form>







  </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src = 'https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js"></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/i18n/angular-locale_zu.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/directives.js"></script>
    <script type="text/javascript" src="/js/filter.js"></script>
    <script type="text/javascript" src="/js/services.js"></script>
    <script type="text/javascript" src="/js/controller.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
