body {
  padding: 50px;
  font-family: 'Poiret One', cursive;
  background-color: beige;
}

a {
  color: #00004c;
  text-decoration: underline;
}

table{
  margin-top: 15px;
  width: 100%;
  background-color: #bed68b;
}



th{
  font-size: 16px;
  padding: 5px;
  text-align: center;
  background-color: #d6c98b;
  color: white;
}

td{
  padding: 5px;

}

.btn-edit{
  margin: 5px;
}

.btn-add{
  float: right;
}

.add-form{
  width: 85%;
  margin: auto;
}

.fill{
  background-color: #a4b9bd;
}

input{
  margin: 15px;
}

.form-div{
  margin-bottom: 20px;
}

.radio{
  margin-left: 5px;
  padding: 10px;
}

.title-info{
  text-align: center;
  background-color: #c35c5c;
  padding: 10px;
  width: 50%;
  margin: auto;
  border-radius: 15px;
  color: white;
}

.width{
  width: 85%;
}

.edit-buttons{
  margin: auto;
  display: table;
}

.table-bordered{
  border: thick black;
}

.btn-primary{
  background-color: #7a4d8b;
  border: #7a4d8b;
}

.btn-success{
  background-color: #008282;
  border: #008282
}

.project-table{
  padding: 5px;
}
